﻿@using Shop.Models;
@model Dictionary<Article, int>
@{
    ViewBag.Title = "Basket";
}

<div class="container">
    @if (Model != null) {
        <table>
            <thead>
            <tr>
                <th>@LanguageSupport.GetText("article")</th>
                <th>@LanguageSupport.GetText("amount")</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var a in Model) {
                <tr>
                    <td>@a.Key.Name</td>
                    <td>@a.Value</td>
                </tr>
            }

            </tbody>
        </table>

        <a class="btn" href="/article/order">@LanguageSupport.GetText("order")</a>
        <a class="btn" href="/article/clearshoppingbasket">@LanguageSupport.GetText("clear_basket")</a>
    }
    else {
        <h5>@LanguageSupport.GetText("not_found")</h5>
    }
</div>