﻿@using Shop.Models
@model ArticleAdministration
@{
    ViewBag.Title = "Edit";
}

<div class="container">
    <form method="post" action="/article/edit" enctype="multipart/form-data">
        <input type="hidden" id="id" value="@(Model?.Id)" name="Id"/>
        <div class="input-field">
            <input type="text" id="name" required="required" value="@(Model?.Name)" name="Name"/>
            <label for="name">Name</label>
        </div>
        <div class="input-field">
            <textarea id="en" class="materialize-textarea" required name="En">@(Model?.En)</textarea>
            <label for="en">EN</label>
        </div>
        <div class="input-field">
            <textarea id="de" class="materialize-textarea" required name="De">@(Model?.De)</textarea>
            <label for="de">DE</label>
        </div>
        <div class="input-field">
            <input type="text" id="price" value="@(Model?.Price)" required name="Price"/>
            <label for="price">@LanguageSupport.GetText("price")</label>
        </div>
        <div class="input-field">
            <select name="Category" id="cat">
                @foreach (Category s in ViewBag.Categories) {
                    <option value="@s.Id" @(s.Id == Model?.Category ? "selected" : "")>@s.Title</option>
                }
            </select>
        </div>
        <div class="file-field input-field">
            <div class="btn">
                <span>@LanguageSupport.GetText("image")</span>
                <input type="file" name="newImg">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path" name="Image" value="@(Model?.Image)" type="text">
            </div>
        </div>
        <div class="input-field">
            <button type="submit" class="btn">@LanguageSupport.GetText("submit")</button>
        </div>
    </form>
</div>

@if (ViewBag.Close != null && ViewBag.Close) {
    <script>
        window.close();
    </script>
}