﻿@using Shop.Models
@model Article
@{
    ViewBag.Title = Model.Name;
}

<div style="height: 2em;"></div>

<div class="row">
    <div class="col s12 m4">
        <div class="container">
            <img class="materialboxed" style="width: 100%;" src="@Model.Image"/>
        </div>
    </div>
    <div class="col s12 m8">
        <p>@Model.Name<br/>@string.Format("{0:f2}", Model.Price) &euro;</p>
        <br/>
        <p>@Model.Description</p>
        <form action="/article/basket" method="post">
            <input hidden type="number" name="articleId" value="@Model.Id"/>
            <div class="row">
                <div class="input-field col s8">
                    <input type="number" id="amount" name="amount" value="1" />
                </div>
                <div class="input-field col s4">
                    <input type="submit" class="btn" value="@LanguageSupport.GetText("add_to_basket")"/>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="divider"></div>
<div class="container">
    <form action="/article/comment" method="post">
        <input type="hidden" name="artId" value="@Model.Id"/>
        <input type="hidden" name="Rating" id="Rating" value="1"/>
        <div class="row">
            <div class="col s6 input-field">
                <textarea class="materialize-textarea" name="Text"></textarea>
            </div>
            <div class="col s2 input-field">
                <button type="submit" class="btn">
                    <i class="material-icons">send</i>
                </button>
            </div>
            <div class="col s4" id="rating_stars">
                @for (int i = 0; i < 5; i++) {
                    <i class="material-icons yellow-text" onclick="clickStar(@(i + 1))">star@(i != 0 ? "_border" : "")</i>
                }
            </div>
        </div>
    </form>
    <div class="divider"></div>
    @foreach (Comment c in Model.Comments) {
        <div class="section">
            <h6>@c.User.Username</h6>
            @for (int i = 1; i <= 5; i++) {
                if (i <= c.Rating) {
                    <i class="material-icons yellow-text">star</i>
                }
                else {
                    <i class="material-icons yellow-text">star_border</i>
                }
            }
            <p>@c.Text</p>
        </div>
        <div class="divider"></div>
    }
</div>

