﻿@using Shop.Models
@model List<ArticleAdministration>
@{
    ViewBag.Title = "Management";
}


<div class="container">
    <table id="tbl_management" class="responsive-table highlight">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>@LanguageSupport.GetText("description") (EN)</th>
            <th>@LanguageSupport.GetText("description") (DE)</th>
            <th>@LanguageSupport.GetText("price")</th>
            <th>@LanguageSupport.GetText("image")</th>
            <th>@LanguageSupport.GetText("category")</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var art in Model) {
            <tr>
                <td onclick="editArticle(@art.Id)">@art.Id</td>
                <td onclick="editArticle(@art.Id)">@art.Name</td>
                <td onclick="editArticle(@art.Id)">@art.En</td>
                <td onclick="editArticle(@art.Id)">@art.De</td>
                <td onclick="editArticle(@art.Id)">@($"{art.Price:f2}") &euro;</td>
                <td onclick="editArticle(@art.Id)">@art.Image</td>
                <td onclick="editArticle(@art.Id)">@art.Category</td>
                <td><button onclick="deleteArticle(@art.Id)" class="btn-floating waves-effect waves-light red"><i class="material-icons">delete</i></button></td>
            </tr>
        }
        </tbody>
    </table>
    <div style="height: 2em;"></div>
    <button type="button" class="btn-floating waves-effect waves-light" onclick="editArticle('')"><i class="material-icons">add</i></button>
</div>