﻿@using Shop.Models
@model Order
@{
    ViewBag.Title = "Order";
    User curUser = Session["user"] as User;
    bool loggedIn = curUser != null;
}

<div class="container">
    <div class="row">
        @if (!loggedIn) {
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">@LanguageSupport.GetText("data")</span>
                        <form action="/article/order" method="post" class="form-user-val">
                            <div class="input-field">
                                <input type="text" id="firstname" name="Firstname"/>
                                <label for="firstname">@LanguageSupport.GetText("firstname")</label>
                            </div>
                            <div class="input-field">
                                <input type="text" id="lastname" name="Lastname"/>
                                <label for="lastname">@LanguageSupport.GetText("lastname")</label>
                            </div>
                            <div class="input-field">
                                <input type="email" id="email" name="Email"/>
                                <span class="helper-text"></span>
                                <label for="email">E-Mail</label>
                            </div>
                            <div class="row">
                                <div class="input-field col s8">
                                    <input type="text" id="Street" name="Street"/>
                                    <span class="helper-text"></span>
                                    <label for="Street">@LanguageSupport.GetText("street")</label>
                                </div>
                                <div class="input-field col s4">
                                    <input type="number" id="HouseNumber" name="HouseNumber"/>
                                    <span class="helper-text"></span>
                                    <label for="HouseNumber">@LanguageSupport.GetText("house_number")</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s4">
                                    <input type="number" name="PostalCode" id="PostalCode"/>
                                    <span class="helper-text"></span>
                                    <label for="PostalCode">@LanguageSupport.GetText("postal_code")</label>
                                </div>
                                <div class="input-field col s8">
                                    <input type="text" id="City" name="City"/>
                                    <span class="helper-text"></span>
                                    <label for="City">@LanguageSupport.GetText("city")</label>
                                </div>
                            </div>
                            <div class="input-field">
                                <button type="submit" class="btn">@LanguageSupport.GetText("order")</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }
        else {
            <div class="col s12 m6">
                @if (curUser.Addresses == null || curUser.Addresses.Count == 0) {
                    <p>@LanguageSupport.GetText("no_addresses")</p>
                    <a class="btn-floating waves-effect waves-light" href="/user/addresses">
                        <i class="material-icons">add</i>
                    </a>
                }
                else {
                    <form action="/article/order" method="post">
                        @foreach (var address in curUser.Addresses) {
                            <div class="card">
                                <div class="card-content">
                                    <label class="card-title">
                                        <input name="group_address" required="required" type="radio" value="@address.Id"/>
                                        <span> @(curUser.Addresses.IndexOf(address) + 1)</span>
                                    </label>
                                    <pre>@address.Street @address.HouseNumber
@address.PostalCode @address.City</pre>
                                </div>
                            </div>
                        }
                        <button class="btn" type="submit">
                            @LanguageSupport.GetText("order")
                        </button>
                    </form>
                }
            </div>
        }

        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">@LanguageSupport.GetText("order_details")</span>
                    <table class="responsive-table">
                        <thead>
                        <tr>
                            <th>@LanguageSupport.GetText("article")</th>
                            <th>@LanguageSupport.GetText("amount")</th>
                            <th>@LanguageSupport.GetText("price")</th>
                        </tr>
                        </thead>
                        <tbody>

                        @foreach (var orderArt in Model.Articles) {
                            <tr>
                                <td class="truncate">@orderArt.Key.Name</td>
                                <td>@orderArt.Value</td>
                                <td class="right-align">@($"{orderArt.Key.Price:f2}") &euro;</td>
                            </tr>
                        }

                        </tbody>
                        <tfoot>
                        <tr>
                            <th>@LanguageSupport.GetText("total_price")</th>
                            <td></td>
                            <th class="right-align">@($"{Model.Articles.Select(x => x.Key.Price * (decimal)x.Value).Sum():f2}") &euro;</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>