﻿body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.valign-wrapper {
    background-image: url(img/background.jpg);
    height: 100vh;
}

.img-article {
    height: 15em;
    width: auto !important;
}