﻿@using Shop.Models

<!DOCTYPE html>
<html>
@Html.Partial("Head")
<body>

@Html.Partial("Nav")

<main>

    @RenderBody()

</main>


@Html.Partial("Footer")

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/materialize")
@Scripts.Render("~/bundles/js")
@Scripts.Render("~/bundles/datatables")

<script>
    $(document).ready(function() {
        $(".dropdown-trigger").dropdown({ hover: false });
        $(".materialboxed").materialbox();
        $("select").formSelect();
        $('.tooltipped').tooltip();
        //$('#tbl_management').DataTable();
    });
</script>
@RenderSection("scripts", required: false)
</body>
</html>
