﻿@using Shop.Models

<li>@Html.ActionLink(LanguageSupport.GetText("lang_de"), "Setlanguage", "Home", new {lang = "de"}, new {})</li>
<li>@Html.ActionLink(LanguageSupport.GetText("lang_en"), "SetLanguage", "Home", new {lang = "en"}, new {})</li>