﻿@using Shop.Models
<footer class="page-footer indigo darken-4">
    <div class="container">
        <div class="row">
            <div class="col s6">
                <p>@LanguageSupport.GetText("info_no_real_shop")</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy; @DateTime.Now.Year - Shop
        </div>
    </div>
</footer>
