﻿@using System.Web.UI.WebControls
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Shop</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/datatables")
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>