﻿@using Shop.Models
@model Message
@{
    ViewBag.Title = "Message";
}

<div class="container">
    <h5>@Model.Headline</h5>
    <p>@Model.Msg</p>
    <div class="divider"></div>
    <p>@Model.Solution</p>
</div>