﻿@using Shop.Models
@{
    UserRole loggedIn = (Session["user"] as User)?.Role ?? UserRole.NoUser;
}

<ul class="dropdown-content" id="dd_language">
    @Html.Partial("DropdownLanguage")
</ul>

<ul id="dd_profile" class="dropdown-content">
    @if (loggedIn == UserRole.NoUser) {
        <li>@Html.ActionLink(LanguageSupport.GetText("sign_in"), "login", "user")</li>
    }
    else {
        if ((int) loggedIn > 1) {
            <li>
                <a class="truncate tooltipped" href="/article/management" data-position="left" data-tooltip="@LanguageSupport.GetText("article_management")">@LanguageSupport.GetText("article_management")</a>
            </li>
        }
        <li>
            <a class="truncate tooltipped" data-position="left" data-tooltip="@LanguageSupport.GetText("manage_profile")" href="/user/profile">@LanguageSupport.GetText("manage_profile")</a>
        </li>
        <li>
            <a class="truncate tooltipped" data-position="left" data-tooltip="@LanguageSupport.GetText("address_management")" href="/user/addresses">@LanguageSupport.GetText("address_management")</a>
        </li>
        <li class="divider" tabindex="-1"></li>
        <li>
            @Html.ActionLink(LanguageSupport.GetText("sign_out"), "logout", "user")
        </li>
    }
</ul>

<nav class="indigo darken-4">
    <div class="nav-wrapper">
        @Html.ActionLink("Shop", "Index", "Home", null, new {@class = "brand-logo"})
        <ul class="right hide-on-med-and-down">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>
                <a class="dropdown-trigger" href="javascript:void(0)" data-target="dd_profile">
                    @LanguageSupport.GetText("profile")<i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
            <li>
                <a href="/article/basket">
                    <i class="material-icons left">shopping_basket</i> @(Session["basket"] == null ? 0 : ((Dictionary<Article, int>) Session["basket"]).Count)
                </a>
            </li>
            <li>
                <a class="dropdown-trigger" href="javascript:void(0)" data-target="dd_language">
                    @LanguageSupport.CurrentLanguageLongString<i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
        </ul>
    </div>
</nav>