﻿@using Shop.Models;
@model List<Article>
@{
    ViewBag.Title = "Home";

    Category cur = ViewBag.CurrentCat;
}


<form class="container">
    <div class="row">
        <div class="col s6 input-field">
            <input type="text" id="search_bar" name="q"/>
            <label for="search_bar">@LanguageSupport.GetText("search") ...</label>
        </div>
        <div class="col s2 input-field">
            <select name="cat" id="cat">
                <option value="-1" selected>@LanguageSupport.GetText("choose") ...</option>
                @foreach (Category s in ViewBag.Cats) {
                    <option value="@s.Id" @(s.Id == cur?.Id ? "selected" : "")>@s.Title</option>
                }
            </select>
        </div>
        <div class="input-field col s4">
            <button type="submit" class="btn-small">
                @LanguageSupport.GetText("search")
            </button>
        </div>
    </div>
</form>

<div class="divider"></div>

@if (Model != null) {
    <div class="row">
        @foreach (Article a in Model) {
            <div class="col s12 m6 l4">
                <div class="card hoverable sticky-action">
                    <div class="card-image activator">
                            <img class="activator img-article" src="@a.Image"/>
                    </div>
                    <div class="card-content">
                        <span class="card-title black-text activator truncate">@a.Name</span>
                        <p>@string.Format("{0:f2}", a.Price) &euro;</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title black-text truncate">
                            @a.Name<i class="material-icons right">close</i>
                        </span>
                        <p>@a.Description</p>
                    </div>
                    <div class="card-action">
                        @Html.ActionLink(LanguageSupport.GetText("view_details"), "Index", "Article", new {id = a.Id}, null)
                    </div>
                </div>
            </div>
        }
    </div>
}
else {
    <div class="container">
        <h2>@LanguageSupport.GetText("not_found")</h2>
    </div>
}