﻿@using Shop.Models;
@model List<Address>
@{
    ViewBag.Title = "Addresses";
}

<div class="container">
    @if (Model != null) {
        <div class="row">
            @foreach (var address in Model) {
                <div class="col s12 m4">
                    <div class="card hoverable">
                        <div class="card-content" onclick="editAddress(@address.Id)">
                            <pre>@address.Street @address.HouseNumber
@address.PostalCode - @address.City</pre>
                        </div>
                        <div class="card-action center" onclick="deleteAddress(@address.Id)">
                            <i class="red-text material-icons">delete</i>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else {
        <h2>@LanguageSupport.GetText("no_addresses")</h2>
    }
    <button class="btn-floating waves-effect waves-light" onclick="editAddress('')"><i class="material-icons">add</i></button>
</div>