﻿@using System.Web.UI.WebControls
@using Shop.Models
@model Address
@{
    ViewBag.Title = "title";
}

<div class="container">
    <form action="/user/edit" method="post">
        <input type="hidden" name="Id" value="@(Model?.Id)"/>
        <div class="input-field">
            <input type="text" required name="Street" id="Street" value="@(Model?.Street)"/>
            <label for="Street">@LanguageSupport.GetText("street")</label>
        </div>
        <div class="input-field">
            <input type="number" required name="HouseNumber" id="HouseNumber" value="@(Model?.HouseNumber)"/>
            <label for="HouseNumber">@LanguageSupport.GetText("house_number")</label>
        </div>
        <div class="input-field">
            <input type="number" required name="PostalCode" id="PostalCode" value="@(Model?.PostalCode)"/>
            <label for="PostalCode">@LanguageSupport.GetText("postal_code")</label>
        </div>
        <div class="input-field">
            <input type="text" name="City" required id="City", value="@(Model?.City)"/>
            <label for="City">@LanguageSupport.GetText("city")</label>
        </div>
        <div class="input-field">
            <button type="submit" class="btn">@LanguageSupport.GetText("submit")</button>
        </div>
    </form>
</div>

@if (ViewBag.Close != null && ViewBag.Close) {
    <script>
        close();
    </script>
}