﻿@using Shop.Models
@model Login
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    @Html.Partial("Head")
</head>
<body>

    <ul class="dropdown-content" id="dd_language_si">
        @Html.Partial("DropdownLanguage")
    </ul>

    <ul class="dropdown-content" id="dd_language_su">
        @Html.Partial("DropdownLanguage")
    </ul>

    <div class="valign-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 offset-m3">
                    <div class="card grey lighten-2">
                        <div class="card-tabs">
                            <ul class="tabs tabs-fixed-width">
                                <li class="tab">
                                    <a href="#signin">@LanguageSupport.GetText("sign_in")</a>
                                </li>
                                <li class="tab">
                                    <a href="#signup">@LanguageSupport.GetText("sign_up")</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-content">
                            <div id="signin">
                                <form action="javascript:loginUser()">
                                    <div class="input-field">
                                        <i class="material-icons prefix">account_circle</i>
                                        @Html.EditorFor(m => m.Username)
                                        @Html.LabelFor(m => m.Username, LanguageSupport.GetText("username_or_email"))
                                    </div>
                                    <div class="input-field">
                                        <i class="material-icons prefix">lock</i>
                                        @Html.PasswordFor(m => m.Password)
                                        @Html.LabelFor(m => m.Password, LanguageSupport.GetText("passwrd"))
                                    </div>
                                    <div class="row" id="message_login">

                                    </div>
                                    <div class="card-action">
                                        <button class="btn waves-light waves-effect" type="submit">
                                            @LanguageSupport.GetText("sign_in") <i class="material-icons right">send</i>
                                        </button>
                                        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn waves-light waves-effect" })
                                        <a href="javascript:void(0)" class="btn dropdown-trigger right" data-target="dd_language_si">
                                            @LanguageSupport.CurrentLanguageLongString<i class="material-icons right">arrow_drop_down</i>
                                        </a>
                                    </div>
                                </form>
                            </div>
                            <div id="signup">
                                <span class="card-title">@LanguageSupport.GetText("sign_up")</span>

                                <form action="javascript:registerUser()" class="form-user-val">
                                    <div class="row">
                                        <div class="col s12 m6">
                                            <div class="input-field">
                                                <input type="text" name="Firstname" id="firstname"/>
                                                <label for="firstname">@LanguageSupport.GetText("firstname")</label>
                                            </div>
                                        </div>
                                        <div class="col s12 m6">
                                            <div class="input-field">
                                                <input type="text" name="Lastname" id="lastname" />
                                                <label for="lastname">@LanguageSupport.GetText("lastname")</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-field">
                                        <input type="text" name="Email" id="email" />
                                        <span class="helper-text" data-accept_keys="required_email no_valid_email double_email"></span>
                                        <label for="email">E-Mail</label>
                                    </div>
                                    <div class="input-field">
                                        <input type="text" name="Username" id="usernameReg" />
                                        <span class="helper-text" data-accept_keys="double_username required_username min_username"></span>
                                        <label for="usernameReg">@LanguageSupport.GetText("username")</label>
                                    </div>
                                    <div class="input-field">
                                        <input type="password" name="PasswordReg" id="PasswordReg" />
                                        <span class="helper-text" data-accept_keys="required_password min_pwd special_char"></span>
                                        <label for="PasswordReg">@LanguageSupport.GetText("passwrd")</label>
                                    </div>
                                    <div class="input-field">
                                        <input type="password" name="PasswordRepeat" id="PasswordRepeat" />
                                        <span class="helper-text"></span>
                                        <label for="PasswordRepeat">@LanguageSupport.GetText("repeat_passwrd")</label>
                                    </div>
                                    <div class="row" id="message_register">

                                    </div>
                                    <div class="card-action">
                                        <button type="submit" class="btn waves-effect waves-light">
                                            @LanguageSupport.GetText("sign_up") <i class="material-icons right">send</i>
                                        </button>
                                        @Html.ActionLink("Home", "Index", "Home", null, new {@class = "btn waves-light waves-effect"})
                                        <a href="javascript:void(0)" class="btn dropdown-trigger right" data-target="dd_language_su">@LanguageSupport.CurrentLanguageLongString<i class="material-icons right">arrow_drop_down</i></a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/materialize")
    @Scripts.Render("~/bundles/js")

    <script>
        $(document).ready(function () {
            $('.tabs').tabs();
            $('.dropdown-trigger').dropdown();
        });
    </script>

</body>
</html>