﻿@using Shop.Models;
@model User
@{
    ViewBag.Title = "Profile";
}

<div class="container">
    <h5>Edit your profile</h5>
    <form action="javascript:updateUser()" class="form-user-val">
        <div class="row">
            <div class="col s12 m6">
                <div class="input-field">
                    <i class="prefix material-icons">tag_faces</i>
                    <input type="text" name="Firstname" id="firstname" value="@Model.Firstname"/>
                    <label for="firstname">@LanguageSupport.GetText("firstname")</label>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="input-field">
                    <input type="text" name="Lastname" id="lastname" value="@Model.Lastname"/>
                    <label for="lastname">@LanguageSupport.GetText("lastname")</label>
                </div>
            </div>
        </div>
        <div class="input-field">
            <i class="prefix material-icons">alternate_email</i>
            <input type="text" name="Email" id="email" value="@Model.Email" />
            <span class="helper-text" data-accept_keys="required_email no_valid_email double_email"></span>
            <label for="email">E-Mail</label>
        </div>
        <div class="input-field">
            <i class="prefix material-icons">account_circle</i>
            <input type="text" name="Username" id="usernameReg" value="@Model.Username" />
            <span class="helper-text" data-accept_keys="double_username required_username min_username"></span>
            <label for="usernameReg">@LanguageSupport.GetText("username")</label>
        </div>
        <div class="input-field">
            <i class="prefix material-icons">vpn_key</i>
            <input type="password" name="PasswordReg" id="PasswordReg" />
            <span class="helper-text" data-accept_keys="required_password min_pwd special_char"></span>
            <label for="PasswordReg">@LanguageSupport.GetText("passwrd")</label>
        </div>
        <div class="input-field">
            <i class="prefix material-icons">repeat</i>
            <input type="password" name="PasswordRepeat" id="PasswordRepeat" />
            <span class="helper-text"></span>
            <label for="PasswordRepeat">@LanguageSupport.GetText("repeat_passwrd")</label>
        </div>
        <div class="row" id="message_update">

        </div>
        <div class="input-field">
            <button class="btn waves-effect waves-light" type="submit">
                Submit
            </button>
        </div>
    </form>
</div>